@import 'variables.scss';
@import 'components/dataUser.scss';
@import 'components/header.scss';


body {
    background: rgb(255, 252, 252);
}

.containerApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    overflow-y: scroll;
}

.doughnut {
    width: 400px;
    margin: auto;
    position: relative;

    .kcal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.4rem;
    }
}

.custom-shape-divider-bottom-1671199301 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1671199301 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1671199301 .shape-fill {
    fill: rgb(255, 252, 252);
}

.food {
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10px;
    padding: 2rem;

    .kgFood {
        color: rgb(114, 114, 114);
    }
}